<div class="row">
  <!--コメント編集-->
  <div class="col-xs-8 col-xs-offset-2" style="margin-top:30px;">
    <%= render 'layouts/error_messages', model: @comment %>
    <h2>コメント編集</h2>
    <%= form_with(model:[@diary,@comment], url: diary_comment_path(@diary)) do |f| %>
      <div class="field form-group">
        <%= f.text_field :title, class: "form-control",placeholder: "タイトルを記入してください(入力必須、30文字以内)", style: "width:50%;" %>
      </div>
      <div class="field form-group">
        <%= f.text_area :body, class: "form-control",placeholder: "内容を記入してください(入力必須)", style: "width:100%; min-height:200px;" %>
      </div>
      <%= f.submit "コメント編集", class: "btn btn-default btn-lg", style: "float:right;" %>
    <% end %>
  </div>
</div>