<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= render 'layouts/error_messages', model: @diary %>
    <h1>日記編集</h1>
    <div style="padding-left:30px;">
      <strong style="font-size:20px;">新規タグ追加</strong>
      <%= form_tag(tags_path, method: :post) do %>
        <%= text_field_tag :name,"",class: "form-control",placeholder: "タグは全てスペースなし、小文字で保存されます(20文字以内)",style: "width:50%; margin:5px; float:left;" %>
        <%= submit_tag "タグを追加", class: "btn btn-default",style: "margin:5px;" %>
      <% end %>
      <strong style="font-size:20px;">関連タグ選択</strong>
    </div>

    <div style="padding-left:20px;">
      <%= form_for @diary, url: user_diary_path do |f| %>
        <%= render "layouts/post", f: f %>
        <%= f.submit "更新", class: "btn btn-default btn-lg", style: "float:right;" %>
      <% end %>
    </div>
  </div>
</div>