<div class="row">
  <div class="col-xs-7 col-xs-offset-1">
    <% if params[:search].present? %>
      <h2><%= "フォーム検索：#{params[:search]}" %></h2>
    <% elsif params[:user_id].present? %>
      <h2><%= "#{params[:nickname]}さんの投稿日記" %></h2>
    <% elsif params[:tag_id].present? %>
      <h2><%= "タグ検索：#{params[:name]}" %></h2>
    <% else %>
      <h2>新着日記</h2>
    <% end %>
    <div class="diary-box">
      <% @diaries.each do |diary| %>
        <div class="diary_<%= diary.id %>">
          <%= render "layouts/diary_index", diary: diary %>
        </div>
      <% end %>
      <div style="text-align: center;">
        <%= paginate @diaries %>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <%= render "layouts/diary_index_side", tags: @tags, most_viewed: @most_viewed %>
  <% else %>
    <div class="col-xs-2 diary-side-box" style="height:1000px;">日記投稿・編集、文字列検索やタグ検索機能、日記ランキング、フォロー機能、お気に入り機能、コメント履歴機能は会員限定機能です</div>
  <% end %>
</div>