<div class="row">
  <div class="col-xs-7 col-xs-offset-2">
    <h2>新着日記</h2>
    <%= render "layouts/diary_index", diaries: @diaries %>
  </div>

  <div class="col-xs-2 diary-side-box-main">
    <h3>日記検索</h3>
    <%= form_tag(diaries_path, method: :get) do %>
    <%= text_field_tag :search,"", class: "form-control", style: "width:250px; margin:10px 0;" %>
    <%= submit_tag '検索', :title => nil, class: "form-control", style: "margin-left:150px; width:100px;" %>
    <% end %>
    <div class="diary-tag-main">
      <h3 class="diary-tag-h3">タグ一覧</h3>
      <ul>
        <li class="tag-link"><%= link_to "全てのタグ", diaries_path, class: "fas fa-tags" %></li>
        <% @tags.each do |tag| %>
        <li class="tag-link">
          <%= link_to "#{tag.name}（#{tag.diaries.count}）", diaries_path(tag_id: tag.id), class: "fas fa-tags" %></li>
        <% end %>
      </ul>
    </div>
    <div class="diary-rank-main">
      <h3 class="diary-tag-h3">日記ランキング</h3>
      <ul>
        <% i = 1 %>
        <% @most_viewed.each do |pv| %>
        <% if i == 1 %>
        <li class="tag-link" style="margin:10px 0 10px 20px;"><i class="fas fa-crown" style="color:#DBB400;"></i>
          <%= link_to pv.title, diary_path(pv) %></li>
        <% i += 1 %>
        <% elsif i == 2 %>
        <li class="tag-link" style="margin:10px 0 10px 20px;"><i class="fas fa-crown" style="color:#C9CACA;"></i>
          <%= link_to pv.title, diary_path(pv) %></li>
        <% i += 1 %>
        <% elsif i == 3 %>
        <li class="tag-link" style="margin:10px 0 10px 20px;"><i class="fas fa-crown" style="color:#BA6E40;"></i>
          <%= link_to pv.title, diary_path(pv) %></li>
        <% i += 1 %>
        <% elsif i == 10 %>
        <li class="tag-link" style="margin:10px 0 10px 2px;"><%= "#{i}. " %><%= link_to pv.title, diary_path(pv) %></li>
        <% else %>
        <li class="tag-link" style="margin:10px 0 10px 13px;"><%= "#{i}. " %><%= link_to pv.title, diary_path(pv) %>
        </li>
        <% i += 1 %>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>