<div class="row">
  <div class="col-xs-8 col-xs-offset-1">
    <h1>新着日記</h1>
    <div class="diary-box-main">
      <% @diaries.each do |diary| %>
      <div class="diary-box-sub">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <div class="diary-box-image">
              <%= link_to (attachment_image_tag diary, :diary_image, :fill, 200, 120, format: 'png', fallback: "no-image.png", size:'200x120', class:"index-diary-image"),diary_path(diary)  %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
            <div class="diary-box-text">
              <h3><%= link_to diary.title, diary_path(diary) %></h3>
              <p><%= diary.body.truncate(100) %></p>
            </div>
            <div class="diary-box-status">
              <span>投稿者：<%= link_to diary.user.name, diary_path(diary) %></span>

              <% if diary.favorited_by?(current_user) %>
                <%= link_to diary_favorites_path(diary), method: :delete, remote: true do %>
                  <i class="fa fa-heart" aria-hidden="true" style="color: red;">お気に入りに追加</i>
                  <%= diary.favorites.count %>
                <% end %>
              <% else %>
                <%= link_to diary_favorites_path(diary), method: :post, remote: true do %>
                  <i class="fa fa-heart-o" aria-hidden="true">お気に入りに追加</i>
                  <%= diary.favorites.count %>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div style="text-align: center;">
        <%= paginate @diaries %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2">
    <h3>日記検索</h3>
      <%= form_tag(diaries_path, method: :get) do %>
        <%= text_field_tag :search,"", class: "form-control", style: "width:250px; margin:10px 0;" %>
        <%= submit_tag '検索', :title => nil, class: "form-control", style: "margin-left:150px; width:100px;" %>
      <% end %>
    <div class="diary-tag-main">
      <h3 class="diary-tag-h3">タグ一覧</h3>
      <ul>
        <li class="tag-link"><%= link_to "全てのタグ", diaries_path, class: "fas fa-tags" %></li>
        <% @tags.each do |tag| %>
        <li class="tag-link"><%= link_to "#{tag.name}（#{tag.diaries.count}）", diaries_path(tag_id: tag.id), class: "fas fa-tags" %></li>
        <% end %>
      </ul>
    </div>
    <div class="diary-rank-main">
      <h3 class="diary-tag-h3">日記ランキング</h3>
      <ul>
        <% i = 1 %>
        <% @most_viewed.each do |pv| %>
        <% if i == 10 %>
        <li class="tag-link" style="margin:10px 0 10px 2px;"><%= "#{i}. " %><%= link_to pv.title, diary_path(pv) %></li>
        <% else %>
        <li class="tag-link" style="margin:10px 0 10px 13px;"><%= "#{i}. " %><%= link_to pv.title, diary_path(pv) %></li>
        <% i += 1 %>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>