<style>
  .diary-box__sub {
    height: 70px;
    margin: 0;
    padding: 0;
  }

  p {
    display: none;
  }

  .diary-box__image img {
    width: 100px;
    height: 60px;
  }

  .diary-box__status {
    height: 45px;
  }
</style>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h1>お気に入り</h1>
    <h4><%= @user.nickname %>さんのお気に入り日記です</h4>
    <%= link_to "お気に入り",user_favorites_path(@user), class: "btn btn-default", style: "margin-bottom:30px;" %>
    <%= link_to "コメント履歴",user_comments_path(@user), class: "btn btn-default", style: "margin-bottom:30px;" %>
    <div class="diary-box">
      <% if @diaries.present? %>
        <% @diaries.each do |diary| %>
          <div class="diary_<%= diary.id %>">
            <%= render "layouts/diary_index", diary: diary %>
          </div>
        <% end %>
      <% else %>
        <h4><%= @user.nickname %>さんがお気に入りに入れた日記はありません</h4>
      <% end %>
    </div>
  </div>
</div>