<div class="row mypage-box">
  <div class="col-xs-11 col-xs-offset-1 col-lg-9 col-lg-offset-2">
    <div class="mypage-box__image">
      <h2 style="margin-left: 10px;">ユーザー詳細</h2><br>
      <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format: 'png', fallback: "no-image.png", size:'150x150', class: "circle", style: "margin:0;" %><br>
      <% if @user.id != current_user.id %>
      <% if current_user.following?(@user) %>
      <%= link_to 'フォロー外す', user_unfollow_path(@user), method: :POST, class: "btn btn-success col-xs-10" %>
      <% else %>
      <%= link_to 'フォローする', user_follow_path(@user), method: :POST, class: "btn btn-success col-xs-10" %>
      <% end %>
      <% end %>

    </div>

    <table class="table table-bordered" style="width:70%; margin-top: 60px; background-color:white; float: left;">
      <% if @user == current_user %>
      <tr>
        <th>お名前</th>
        <td><%= @user.name %></td>
      </tr>
      <% end %>
      <tr>
        <th style="min-width: 150px;">ニックネーム</th>
        <td style="width: 100%;"><%= @user.nickname %></td>
      </tr>
      <% if @user == current_user %>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <% end %>
      <tr>
        <th>自己紹介</th>
        <td><%= @user.introduction %></td>
      </tr>
    </table>




    <% if @user == current_user %>
    <div class="mypage-box__sub">
      <i class="fas fa-user-edit fa-3x"></i><strong style="font-size:20px;">　登録情報編集</strong>
      <%= link_to "", edit_user_registration_path %>
    </div>
    <div class="mypage-box__sub">
      <i class="fas fa-external-link-alt fa-3x"></i><strong style="font-size:20px;">　退会</strong>
      <%= link_to "", user_delete_path(@user) %>
    </div>
    <% end %>
    <div class="mypage-box__sub">
      <i class="fas fa-book-open fa-3x"></i><strong style="font-size:20px;">　投稿内容一覧</strong>
      <%= link_to "", diaries_path(user_id: @user.id, nickname: @user.nickname) %>
    </div>
    <div class="mypage-box__sub">
      <i class="fas fa-user-friends fa-3x"></i><strong style="font-size:20px;">　フォロー&フォロワー</strong>
      <%= link_to "", user_follows_path(@user) %>
    </div>
    <div class="mypage-box__sub">
      <i class="far fa-heart fa-3x"></i><strong style="font-size:20px;">お気に入り&コメント一覧</strong>
      <%= link_to "", user_favorites_path(@user) %>
    </div>


  </div>