<div class="row">
  <div class="col-xs-2 col-xs-offset-2">
    <div class="mypage-box-image">
      <mark style="font-size: 20px; margin-left: 10px;">ユーザー詳細</mark><br>
      <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format: 'png', fallback: "no-image.png", size:'150x150' %>
    </div>
  </div>
  <div class="col-xs-5">
    <table class="table table-bordered" style="margin-top: 30px;">
      <% if @user == current_user %>
      <tr>
        <th style="width: 400px;">お名前</th>
        <td style="width: 800px;"><%= @user.name %></td>
      </tr>
      <% end %>
      <tr>
        <th style="width: 400px;">ニックネーム</th>
        <td style="width: 800px;"><%= @user.nickname %></td>
      </tr>
      <% if @user == current_user %>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <% end %>
      <tr>
        <th>自己紹介</th>
        <td><%= @user.introduction %></td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <% if @user == current_user %>
    <div class="mypage-box-main" style="text-align: center;">
      <strong style="font-size:20px;">登録情報編集</strong>
      <%= link_to "", edit_user_registration_path %>
    </div>
    <div class="mypage-box-main" style="text-align: center;">
      <strong style="font-size:20px;">退会</strong>
      <%= link_to "", user_delete_path(@user) %>
    </div>
    <% end %>
    <div class="mypage-box-main" style="text-align: center;">
      <strong style="font-size:20px;">投稿内容一覧</strong>
      <%= link_to "", "#" %>
      <!--一覧を一部テンプレートにて実装-->
    </div>
    <div class="mypage-box-main" style="text-align: center;">
      <strong style="font-size:20px;">フォロー&フォロワー</strong>
      <%= link_to "", "#" %>
    </div>
    <div class="mypage-box-main" style="text-align: center;">
      <strong style="font-size:20px;">お気に入り&コメント一覧</strong>
      <%= link_to "", "#" %>
    </div>
  </div>
</div>