<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h2>タグ一覧</h2>
    <table class="table" style="background-color:white;">
      <tbody>
        <% @tags.each do |tag| %>
        <tr>
          <th style="width:1000px;">
            <% if current_user.admin? %>
            <i class="fas fa-tags fa-3x" style="float:left;"></i>
              <%= form_for tag, url: tag_path(tag.id), method: :patch do |f| %>
                <%= f.text_field :name, class: "form-control", style: "width:310px; float:left;" %>
                <p style="font-size:20px;"><%= link_to "（#{tag.diaries.count}）", diaries_path(tag_id: tag.id, name: tag.name), style: "float:left;" %></p>
                <%= f.submit "更新", class: "btn btn-primary btn-md" %>
              <% end %>
            <% elsif %>
              <p style="font-size:20px;"><%= link_to "#{tag.name}（#{tag.diaries.count}）", diaries_path(tag_id: tag.id, name: tag.name), class: "fas fa-tags" %></p>
            <% end %>
          </th>
          <td>
            <% if current_user.admin? %>
              <%= link_to "", tag_path(tag.id), method: :delete, data: { confirm: 'タグを削除しますか？' }, class: "fas fa-trash-alt fa-3x", style: "color:#b22222;" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>