<div class="row diary-box__sub">
  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
    <div class="diary-box__image">
      <%= link_to (attachment_image_tag diary, :diary_image, :fill, 200, 120, format: 'png', fallback: "no-image.png", size:'200x120', class:"index-diary-image"),diary_path(diary)  %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9">
    <div class="diary-box__text">
      <h4><%= link_to diary.title, diary_path(diary) %></h4>
      <p><%= diary.body.truncate(100) %></p>
    </div>
    <div class="diary-box__status">
      <span>投稿者：<%= link_to diary.user.nickname, user_path(diary.user) %>　</span>
      <%= render "layouts/favorite", diary: diary %>
      <i class="far fa-eye" style="margin: 0 0 2px 20px; color:#CCC;"><%= diary.impressions.size %></i>
    </div>
  </div>
</div>