<div class="col-xs-2 diary-side-box">
  <h3>日記検索</h3>
  <%= form_tag(diaries_path, method: :get) do %>
  <%= text_field_tag :search,"", class: "form-control", style: "width:250px; margin:10px 0;" %>
  <%= submit_tag '検索', :title => nil, class: "form-control", style: "margin-left:150px; width:100px;" %>
  <% end %>
  <div class="diary-side-box__tag-box">
    <% if current_user.admin? %>
      <h3 class="diary-side-box__tag-box-h3">タグ一覧<%= link_to "", tags_path, class: "fas fa-tags" %></h3>
    <% else %>
      <h3 class="diary-side-box__tag-box-h3">タグ一覧</h3>
    <% end %>
    <ul>
      <li class="diary-side-box__tag-box-li"><%= link_to "全てのタグ", diaries_path, class: "fas fa-tags" %></li>
      <% tags.each do |tag| %>
      <li class="diary-side-box__tag-box-li">
        <%= link_to "#{tag.name}（#{tag.diaries.count}）", diaries_path(tag_id: tag.id), class: "fas fa-tags" %></li>
      <% end %>
    </ul>
  </div>
  <div class="diary-side-box__rank-box">
    <h3 class="diary-side-box__rank-box-h3">日記ランキング</h3>
    <ul>
      <% i = 1 %>
      <% most_viewed.each do |pv| %>
      <% if i == 1 %>
      <li class="diary-side-box__rank-box-li"><i class="fas fa-crown" style="color:#DBB400;"></i>
        <%= link_to pv.title, diary_path(pv) %></li>
      <% i += 1 %>
      <% elsif i == 2 %>
      <li class="diary-side-box__rank-box-li"><i class="fas fa-crown" style="color:#C9CACA;"></i>
        <%= link_to pv.title, diary_path(pv) %></li>
      <% i += 1 %>
      <% elsif i == 3 %>
      <li class="diary-side-box__rank-box-li"><i class="fas fa-crown" style="color:#BA6E40;"></i>
        <%= link_to pv.title, diary_path(pv) %></li>
      <% i += 1 %>
      <% elsif i == 10 %>
      <li class="diary-side-box__rank-box-li--true"><%= "#{i}. " %><%= link_to pv.title, diary_path(pv) %></li>
      <% else %>
      <li class="diary-side-box__rank-box-li--false"><%= "#{i}. " %><%= link_to pv.title, diary_path(pv) %>
      </li>
      <% i += 1 %>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>