<% if user_signed_in? %>
  <%= render "layouts/profile", user: current_user %>
  <header style="text-align: center;">
    <div class="logo-box">
      <%=link_to image_tag("logo1.png", alt:"Forgineer", width:"50%", height:"1%"), root_path %>
    </div>
  </header>
<% else %>
  <header class="navbar navbar-light">
    <div class="logo-box navber-brand">
      <%=link_to image_tag("logo1.png", alt:"Forgineer", width:"50%", height:"1%"), root_path %>
    </div>
    <ul class="nav navbar-nav navbar-right" style="margin-top:60px;">
      <li class="header-link"><%= link_to "日記一覧", diaries_path, class: "btn btn-default" %></li>
      <li class="header-link"><%= link_to "Forgineerとは？", home_about_path, class: "btn btn-default" %></li>
      <li class="header-link"><%= link_to "新規登録", new_user_registration_path, class: "btn btn-default" %></li>
      <li class="header-link"><%= link_to "ログイン", new_user_session_path, class: "btn btn-default" %></li>
    </ul>
  </header>
<% end %>